@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #2B90C8;
  --2color: #51A1CE;
  --3color: #9FC0DF;
  --4color: #C8D5E8;
  --background: #E7EDF0;
  --background2: #F5F6F7;
  --dark: #444750;
  --text: #393939;

  --notif: #F57600;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80vh;
}

input {
    text-indent: 1vh;
    background-color: var(--background2);
}

input::placeholder {
    text-indent: 1vh;
}

.infos_perso{
    display: flex;
    justify-content: center;
}

.adresse{
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

.form_infos_perso{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.form_adresse{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.infos_perso input, .adresse input{
    border: solid 4px;
    border-radius: 25px;
    border-color: var(--4color);
    height: 4vh;
    width: 25vw;
}

.infos_perso h1, .adresse h1{
    padding-bottom: 3vh;
}

@media screen and (max-width: 900px) { 

    .infos_perso input, .adresse input{
        width: 40vw;
    }

}

@media screen and (max-width: 450px) { 

    .infos_perso input, .adresse input{
        width: 60vw;
    }

}